body {
  margin: 0px;
}

.footer, .header {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 64px;
}

.footer { bottom: 0px; }
.header { top: 0px; }

.bodyContent {
  position: fixed;
  left: 32px;
  top: 64px;
  width: calc(100% - 64px);
  height: calc(100% - 128px);
  overflow-y: auto;
}

.prevPage, .nextPage {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 0px;
}

.prevPage {
  left: 0px;
  background-image: url("curl-left.png");
}

.nextPage {
  right: 0px;
  background-image: url("curl-right.png");
}

.footerContent, .headerContent {
  text-align: center;
  width: calc(100% - 128px);
  left: 64px;
  position: absolute;
}

.footerContent {
  height: 32px;
  top: 24px;
  font-style: italic;
}

.headerContent {
  height: 24px;
  top: 0px;
}

.plainHref, .plainHref:visited, .plainHref:hover, .plainHref:active {
  color: inherit;
  text-decoration: none;
}

.disabled {
  display: none;
}
