@use './ntos-colors.scss' with (
  $ntos-color: hsl(0, 0%, 91.8%),
  $ntos-fg: rgb(241, 241, 241)
);
.theme-ntos-light {
  @include ntos-colors.theme-ntos;
  // white progress bars need contrast!
  .ProgressBar--color--default * {
    color: black;
  }
}
