/*****************************************
*
* GLOBAL STYLES for white theme normies
*
******************************************/

@use 'sass:map';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: hsl(0.0, 0.0%, 0.0%);
}
body {
  background: #fff;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  line-height: 1.2;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

em {
  font-style: normal;
  font-weight: bold;
}

img {
  margin: 0;
  padding: 0;
  line-height: 1;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}
img.icon {
  height: 1em;
  min-height: 16px;
  width: auto;
  vertical-align: bottom;
}

.r:before {
  /* "repeated" badge class for combined messages */
  content: 'x';
}
.r {
  display: inline-block;
  min-width: 0.5em;
  font-size: 0.7em;
  padding: 0.2em 0.3em;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: crimson;
  border-radius: 10px;
}

a {
  color: hsl(240.0, 100.0%, 50.0%);
}
a.visited {
  color: hsl(300.0, 100.0%, 50.0%);
}
a:visited {
  color: hsl(300.0, 100.0%, 50.0%);
}
a.popt {
  text-decoration: none;
}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#loading {
  position: fixed;
  width: 300px;
  height: 150px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -150px;
}
#loading i {
  display: block;
  padding-bottom: 3px;
}

#messages {
  font-size: 13px;
  padding: 3px;
  margin: 0;
  word-wrap: break-word;
}
#newMessages {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  padding: 8px;
  background: #ddd;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}
#newMessages:hover {
  background: #ccc;
}
#newMessages i {
  vertical-align: middle;
  padding-left: 3px;
}
#ping {
  position: fixed;
  top: 0;
  right: 135px;
  width: 45px;
  background: #ddd;
  height: 30px;
  padding: 8px 0 2px 0;
}
#ping i {
  display: block;
  text-align: center;
}
#ping .ms {
  display: block;
  text-align: center;
  font-size: 8pt;
  padding-top: 2px;
}
#userBar {
  position: fixed;
  top: 0;
  right: 0;
}
#userBar .subCell {
  background: #ddd;
  height: 30px;
  padding: 5px 0;
  display: block;
  color: #333;
  text-decoration: none;
  line-height: 28px;
  border-top: 1px solid hsl(0.0, 0.0%, 70.6%);
}
#userBar .subCell:hover {
  background: #ccc;
}
#userBar .toggle {
  width: 45px;
  background: #ccc;
  border-top: 0;
  float: right;
  text-align: center;
}
#userBar .sub {
  clear: both;
  display: none;
  width: 180px;
}
#userBar .sub.scroll {
  overflow-y: scroll;
}
#userBar .sub.subCell {
  padding: 3px 0 3px 8px;
  line-height: 30px;
  font-size: 0.9em;
  clear: both;
}
#userBar .sub span {
  display: block;
  line-height: 30px;
  float: left;
}
#userBar .sub i {
  display: block;
  padding: 0 5px;
  font-size: 1.1em;
  width: 22px;
  text-align: center;
  line-height: 30px;
  float: right;
}
#userBar .sub input {
  position: absolute;
  padding: 7px 5px;
  width: 121px;
  line-height: 30px;
  float: left;
}
#userBar .topCell {
  border-top: 0;
}

/* POPUPS */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ddd;
}
.popup .close {
  position: absolute;
  background: #aaa;
  top: 0;
  right: 0;
  color: #333;
  text-decoration: none;
  z-index: 2;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.popup .close:hover {
  background: #999;
}
.popup .head {
  background: #999;
  color: #ddd;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 2px solid green;
}
.popup input {
  border: 1px solid #999;
  background: #fff;
  margin: 0;
  padding: 5px;
  outline: none;
  color: #333;
}
.popup input[type='text']:hover,
.popup input[type='text']:active,
.popup input[type='text']:focus {
  border-color: green;
}
.popup input[type='submit'] {
  padding: 5px 10px;
  background: #999;
  color: #ddd;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}
.popup input[type='submit']:hover,
.popup input[type='submit']:focus,
.popup input[type='submit']:active {
  background: #aaa;
  cursor: pointer;
}

.changeFont {
  padding: 10px;
}
.changeFont a {
  display: block;
  text-decoration: none;
  padding: 3px;
  color: #333;
}
.changeFont a:hover {
  background: #ccc;
}

.highlightPopup {
  padding: 10px;
  text-align: center;
}
.highlightPopup input[type='text'] {
  display: block;
  width: 215px;
  text-align: left;
  margin-top: 5px;
}
.highlightPopup input.highlightColor {
  background-color: hsl(60.0, 100.0%, 50.0%);
}
.highlightPopup input.highlightTermSubmit {
  margin-top: 5px;
}

/* ADMIN CONTEXT MENU */
.contextMenu {
  background-color: #ddd;
  position: fixed;
  margin: 2px;
  width: 150px;
}
.contextMenu a {
  display: block;
  padding: 2px 5px;
  text-decoration: none;
  color: #333;
}

.contextMenu a:hover {
  background-color: #ccc;
}

/* ADMIN FILTER MESSAGES MENU */
.filterMessages {
  padding: 5px;
}
.filterMessages div {
  padding: 2px 0;
}

.icon-stack {
  height: 1em;
  line-height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-top: -2px;
}

/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* MOTD */
.motd {
  color: hsl(75.3, 100.0%, 26.1%);
  font-family: Verdana, sans-serif;
}
.motd h1,
.motd h2,
.motd h3,
.motd h4,
.motd h5,
.motd h6 {
  color: hsl(75.3, 100.0%, 26.1%);
  text-decoration: underline;
}
.motd a,
.motd a:link,
.motd a:visited,
.motd a:active,
.motd a:hover {
  color: hsl(75.3, 100.0%, 26.1%);
}

/* ADD HERE FOR BOLD */
.bold,
.name,
.prefix,
.ooc,
.dooc,
.looc,
.adminooc,
.admin,
.medal,
.yell {
  font-weight: bold;
}

/* ADD HERE FOR ITALIC */
.italic,
.italics {
  font-style: italic;
}

/* OUTPUT COLORS */
.highlight {
  background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(240.0, 100.0%, 50.0%);
  font-family: Georgia, Verdana, sans-serif;
}
h1.alert,
h2.alert {
  color: hsl(0.0, 0.0%, 0.0%);
}

em {
  font-style: normal;
  font-weight: bold;
}

.ooc {
  color: hsl(225.0, 100.0%, 36.1%);
  font-weight: bold;
}
.dooc {
  color: hsl(293.1, 100.0%, 29.0%);
  font-weight: bold;
}
.looc {
  color: hsl(224.9, 63.9%, 50.0%);
  font-weight: bold;
}
.adminobserverooc {
  color: hsl(195.0, 100.0%, 40.0%);
  font-weight: bold;
}
.adminooc {
  color: hsl(330.0, 100.0%, 22.0%);
  font-weight: bold;
}

.adminsay {
  color: hsl(67.3, 50.0%, 25.9%);
}
.admin {
  color: hsl(224.9, 100.0%, 63.3%);
  font-weight: bold;
}

.mentor {
  color: hsl(125.1, 100.0%, 63.3%);
  font-weight: bold;
}
.mentornotice {
  color: hsl(120.0, 100.0%, 50.0%);
}
.mentorfrom {
  color: hsl(297.6, 64.6%, 31.0%);
}
.mentorto {
  color: hsl(120.0, 64.4%, 32.0%);
}
.mentorhelp {
  color: hsl(261.0, 100.0%, 38.0%);
}
.mentorsay {
  color: hsl(303.2, 53.0%, 48.4%);
}
.mentorhelp_conclusion {
  display: block;
  color: white;
  text-align: center;
  background-color: black;
  border: 2px solid hsl(261.0, 100.0%, 38.0%);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
}

.name {
  font-weight: bold;
}

.deadsay {
  color: hsl(264.0, 100.0%, 45.1%);
}
.binarysay {
  color: hsl(114.0, 86.5%, 40.8%);
  background-color: hsl(0.0, 0.0%, 0.0%);
  display: block;
}
.binarysay a {
  color: hsl(120.0, 100.0%, 50.0%);
}
.binarysay a:active,
.binarysay a:visited {
  color: hsl(120.0, 100.0%, 76.7%);
}
.radio {
  color: hsl(120.0, 100.0%, 25.1%);
}
.sciradio {
  color: hsl(300.0, 50.0%, 40.0%);
}
.explradio {
  color: hsl(167.0, 45.4%, 38.0%);
}
.comradio {
  color: hsl(57.9, 97.3%, 29.4%);
}
.secradio {
  color: hsl(0.0, 100.0%, 32.0%);
}
.medradio {
  color: hsl(195.0, 100.0%, 60.0%);
}
.engradio {
  color: hsl(17.3, 96.7%, 52.9%);
}
.suppradio {
  color: hsl(34.6, 59.2%, 41.4%);
}
.servradio {
  color: hsl(89.0, 59.5%, 30.0%);
}
.syndradio {
  color: hsl(358.7, 26.7%, 33.7%);
}
.centcomradio {
  color: hsl(0.0, 0.0%, 40.8%);
}
.aiprivradio {
  color: hsl(300.0, 100.0%, 50.0%);
}
.redteamradio {
  color: hsl(0.0, 100.0%, 50.0%);
}
.blueteamradio {
  color: hsl(240.0, 100.0%, 50.0%);
}
.holocall {
  color: hsl(340.0, 100.0%, 40.0%);
}

.yell {
  font-weight: bold;
}

.alert {
  color: hsl(0.0, 100.0%, 50.0%);
}
h1.alert,
h2.alert {
  color: hsl(0.0, 0.0%, 0.0%);
}

.emote {
  color: hsl(212.7, 7.2%, 30.0%);
}
.selecteddna {
  color: hsl(0.0, 0.0%, 100.0%);
  background-color: hsl(180.0, 100.0%, 5.3%);
}

.examine {
  font-size: 8pt;
}

.attack {
  color: hsl(0.0, 100.0%, 50.0%);
}
.disarm {
  color: hsl(0.0, 100.0%, 30.0%);
}
.passive {
  color: hsl(0.0, 100.0%, 20.0%);
}

.userdanger {
  color: hsl(0.0, 100.0%, 50.0%);
  font-weight: bold;
  font-size: 24px;
}
.danger {
  color: hsl(0.0, 100.0%, 50.0%);
}
.warning {
  color: hsl(0.0, 100.0%, 50.0%);
  font-style: italic;
}
.alertwarning {
  color: hsl(0.0, 100.0%, 50.0%);
  font-weight: bold;
}
.boldwarning {
  color: hsl(0.0, 100.0%, 50.0%);
  font-style: italic;
  font-weight: bold;
}
.announce {
  color: hsl(120.0, 60.7%, 33.9%);
  font-weight: bold;
}
.boldannounce {
  color: hsl(0.0, 100.0%, 50.0%);
  font-weight: bold;
}
.greenannounce {
  color: hsl(120.0, 100.0%, 50.0%);
  font-weight: bold;
}
.rose {
  color: hsl(0.0, 100.0%, 65.7%);
}
.info {
  color: hsl(240.0, 100.0%, 40.0%);
}
.notice {
  color: hsl(240.0, 100.0%, 30.0%);
}
.boldnotice {
  color: hsl(240.0, 100.0%, 30.0%);
  font-weight: bold;
}
.usernotice {
  color: hsl(240.0, 100.0%, 30.0%);
  font-weight: bold;
  font-size: 24px;
}
.adminnotice {
  color: hsl(240.0, 100.0%, 50.0%);
}
.adminhelp {
  color: hsl(0.0, 100.0%, 50.0%);
  font-weight: bold;
}
.adminhelp_conclusion {
  display: block;
  color: white;
  text-align: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
}
.death_message {
  display: block;
  color: white;
  text-align: center;
  background-color: black;
  border: 2px solid rgb(240, 62, 225);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
}
.unconscious {
  color: hsl(240.0, 100.0%, 50.0%);
  font-weight: bold;
}
.suicide {
  color: hsl(0.0, 100.0%, 65.7%);
  font-style: italic;
}
.green {
  color: hsl(132.9, 100.0%, 50.6%);
}
.red {
  color: hsl(0.0, 100.0%, 50.0%);
}
.blue {
  color: hsl(240.0, 100.0%, 50.0%);
}
.nicegreen {
  color: hsl(132.6, 78.7%, 36.9%);
}
.shadowling {
  color: hsl(258.2, 45.8%, 28.2%);
}
.cult {
  color: hsl(2.0, 43.8%, 41.2%);
}

.cultitalic {
  color: hsl(2.0, 43.8%, 41.2%);
  font-style: italic;
}
.cultbold {
  color: hsl(2.0, 43.8%, 41.2%);
  font-style: italic;
  font-weight: bold;
}
.cultboldtalic {
  color: hsl(2.0, 43.8%, 41.2%);
  font-weight: bold;
  font-size: 24px;
}

.cultlarge {
  color: hsl(2.0, 43.8%, 41.2%);
  font-weight: bold;
  font-size: 24px;
}
.narsie {
  color: hsl(2.0, 43.8%, 41.2%);
  font-weight: bold;
  font-size: 120px;
}
.narsiesmall {
  color: hsl(2.0, 43.8%, 41.2%);
  font-weight: bold;
  font-size: 48px;
}
.narsiesmaller {
  color: hsl(2.0, 43.8%, 41.2%);
  font-weight: bold;
  font-size: 24px;
}
.colossus {
  color: hsl(358.6, 52.1%, 32.7%);
  font-size: 40px;
}
.hierophant {
  color: hsl(280.0, 100.0%, 30.0%);
  font-weight: bold;
  font-style: italic;
}
.hierophant_warning {
  color: hsl(280.0, 100.0%, 30.0%);
  font-style: italic;
}
.purple {
  color: hsl(278.7, 45.8%, 32.5%);
}
.holoparasite {
  color: hsl(257.1, 6.4%, 21.4%);
}

.revennotice {
  color: hsl(226.7, 48.2%, 22.0%);
}
.revenboldnotice {
  color: hsl(226.7, 48.2%, 22.0%);
  font-weight: bold;
}
.revenbignotice {
  color: hsl(226.7, 48.2%, 22.0%);
  font-weight: bold;
  font-size: 24px;
}
.revenminor {
  color: hsl(273.5, 52.7%, 48.0%);
}
.revenwarning {
  color: hsl(275.9, 85.1%, 39.6%);
  font-style: italic;
}
.revendanger {
  color: hsl(275.9, 85.1%, 39.6%);
  font-weight: bold;
  font-size: 24px;
}
.umbra {
  color: hsl(270.0, 100.0%, 31.4%);
}
.umbra_emphasis {
  color: hsl(270.0, 100.0%, 31.4%);
  font-weight: bold;
  font-style: italic;
}
.umbra_large {
  color: hsl(270.0, 100.0%, 31.4%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.deconversion_message {
  color: hsl(270.0, 100.0%, 31.4%);
  font-size: 24px;
  font-style: italic;
}

.brass {
  color: hsl(42.6, 100.0%, 37.3%);
}
.heavy_brass {
  color: hsl(42.6, 100.0%, 37.3%);
  font-weight: bold;
  font-style: italic;
}
.large_brass {
  color: hsl(42.6, 100.0%, 37.3%);
  font-size: 24px;
}
.leader_brass {
  color: hsl(42.6, 100.0%, 37.3%);
  font-size: 16px;
}
.big_brass {
  color: hsl(42.6, 100.0%, 37.3%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.ratvar {
  color: hsl(42.6, 100.0%, 37.3%);
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  animation: ratvarcolor 5000ms infinite;
}
.ratvarsmall {
  color: hsl(42.6, 100.0%, 37.3%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  animation: ratvarcolor 5000ms infinite;
}
.alloy {
  color: hsl(212.7, 7.7%, 28.0%);
}
.heavy_alloy {
  color: hsl(212.7, 7.7%, 28.0%);
  font-weight: bold;
  font-style: italic;
}
.nezbere_large {
  color: hsl(212.7, 7.7%, 28.0%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.nezbere {
  color: hsl(212.7, 7.7%, 28.0%);
  font-weight: bold;
  font-style: italic;
}
.nezbere_small {
  color: hsl(212.7, 7.7%, 28.0%);
}
.sevtug_large {
  color: hsl(300.0, 89.2%, 36.3%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.sevtug {
  color: hsl(300.0, 89.2%, 36.3%);
  font-weight: bold;
  font-style: italic;
}
.sevtug_small {
  color: hsl(300.0, 89.2%, 36.3%);
}
.inathneq_large {
  color: hsl(206.2, 76.5%, 50.0%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.inathneq {
  color: hsl(206.2, 76.5%, 50.0%);
  font-weight: bold;
  font-style: italic;
}
.inathneq_small {
  color: hsl(206.2, 76.5%, 50.0%);
}
.nzcrentr_large {
  color: hsl(45.2, 80.2%, 47.5%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.nzcrentr {
  color: hsl(45.2, 80.2%, 47.5%);
  font-weight: bold;
  font-style: italic;
}
.nzcrentr_small {
  color: hsl(45.2, 80.2%, 47.5%);
}
.neovgre_large {
  color: hsl(345.8, 100.0%, 21.6%);
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
.neovgre {
  color: hsl(345.8, 100.0%, 21.6%);
  font-weight: bold;
  font-style: italic;
}
.neovgre_small {
  color: hsl(345.8, 100.0%, 21.6%);
}

@keyframes ratvarcolor {
  0% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  9% {
    color: hsl(42.6, 100.0%, 37.3%);
  }
  18% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  27% {
    color: hsl(212.7, 7.7%, 28.0%);
  }
  36% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  45% {
    color: hsl(300.0, 89.2%, 36.3%);
  }
  54% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  63% {
    color: hsl(206.2, 76.5%, 50.0%);
  }
  72% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  81% {
    color: hsl(45.2, 80.2%, 47.5%);
  }
  90% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  100% {
    color: hsl(345.8, 100.0%, 21.6%);
  }
}

.newscaster {
  color: hsl(0.0, 100.0%, 25.1%);
}
.ghostalert {
  color: hsl(264.0, 100.0%, 45.1%);
  font-style: italic;
  font-weight: bold;
}

.alien {
  color: hsl(300.0, 24.4%, 26.5%);
}
.noticealien {
  color: hsl(120.0, 100.0%, 37.6%);
}
.alertalien {
  color: hsl(120.0, 100.0%, 37.6%);
  font-weight: bold;
}
.changeling {
  color: hsl(300.0, 100.0%, 25.1%);
  font-style: italic;
}
.assimilator {
  color: hsl(300.0, 100.0%, 25.1%);
  font-size: 16px;
  font-weight: bold;
}
.bigassimilator {
  color: hsl(300.0, 100.0%, 25.1%);
  font-size: 32px;
  font-weight: bold;
}
.alertsyndie {
  color: hsl(0.0, 100.0%, 50.0%);
  font-size: 24px;
  font-weight: bold;
}

.spider {
  color: hsl(300.0, 100.0%, 15.1%);
}
.spiderlarge {
  color: hsl(300.0, 100.0%, 15.1%);
  font-weight: bold;
  font-size: 24px;
}

.interface {
  color: hsl(300.0, 100.0%, 10.0%);
}

.sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.papyrus {
  font-family: 'Papyrus', cursive, sans-serif;
}
.robot {
  font-family: 'Courier New', cursive, sans-serif;
}

.tape_recorder {
  color: hsl(0.0, 100.0%, 25.1%);
  font-family: 'Courier New', cursive, sans-serif;
}

.command_headset {
  font-weight: bold;
  font-size: 24px;
}
.megaphone {
  font-weight: bold;
  font-size: 24px;
}
.small {
  font-size: 8px;
}
.big {
  font-size: 24px;
}
.reallybig {
  font-size: 32px;
}
.extremelybig {
  font-size: 40px;
}
.greentext {
  color: hsl(120.0, 100.0%, 50.0%);
  font-size: 24px;
}
.infotext {
  color: hsl(175.2, 87.0%, 57.8%);
  font-size: 24px;
}
.redtext {
  color: hsl(0.0, 100.0%, 50.0%);
  font-size: 24px;
}
.clowntext {
  color: hsl(325.6, 100.0%, 70.6%);
  font-size: 24px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
}
.singing {
  font-family: 'Trebuchet MS', cursive, sans-serif;
  font-style: italic;
}
.his_grace {
  color: hsl(119.1, 84.4%, 45.3%);
  font-family: 'Courier New', cursive, sans-serif;
  font-style: italic;
}
.hypnophrase {
  color: hsl(0.0, 0.0%, 5.1%);
  font-weight: bold;
  animation: hypnocolor 1500ms infinite;
}
@keyframes hypnocolor {
  0% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  25% {
    color: hsl(266.1, 98.7%, 29.2%);
  }
  50% {
    color: hsl(272.3, 80.8%, 46.9%);
  }
  75% {
    color: hsl(266.1, 98.7%, 29.2%);
  }
  100% {
    color: hsl(191.8, 63.3%, 52.9%);
  }
}

.phobia {
  color: hsl(0.0, 100.0%, 43.3%);
  font-weight: bold;
  animation: phobia 750ms infinite;
}
@keyframes phobia {
  0% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
  50% {
    color: hsl(0.0, 100.0%, 43.3%);
  }
  100% {
    color: hsl(0.0, 0.0%, 5.1%);
  }
}

.icon {
  height: 1em;
  width: auto;
}

.memo {
  color: hsl(75.3, 100.0%, 26.1%);
  text-align: center;
}
.memoedit {
  text-align: center;
  font-size: 16px;
}
.abductor {
  color: hsl(300.0, 100.0%, 25.1%);
  font-style: italic;
}
.mind_control {
  color: hsl(320.0, 85.0%, 33.9%);
  font-size: 3;
  font-weight: bold;
  font-style: italic;
}
.slime {
  color: hsl(180.9, 100.0%, 41.0%);
}
.drone {
  color: hsl(60.0, 0.8%, 51.4%);
}
.monkey {
  color: hsl(17.8, 50.2%, 39.4%);
}
.swarmer {
  color: hsl(219.2, 100.0%, 58.6%);
}
.resonate {
  color: hsl(174.1, 55.4%, 36.1%);
}

.monkeyhive {
  color: hsl(35.0, 93.5%, 24.1%);
}
.monkeylead {
  color: hsl(35.0, 93.5%, 24.1%);
  font-size: 2;
}

.connectionClosed,
.fatalError {
  background: red;
  color: white;
  padding: 5px;
}
.connectionClosed.restored {
  background: green;
}
.internal.boldnshit {
  color: blue;
  font-weight: bold;
}

/* HELPER CLASSES */
.text-normal {
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
  visibility: hidden;
}

.examine_block {
  background: hsl(202.5, 44.4%, 96.5%);
  border: 1px solid hsl(215.5, 39.3%, 11.0%);
  margin: 0.5em;
  padding: 0.5em 0.75em;
}

//Job Colours
//Make sure you add to replacementNodes in renderer.js
// ----------
// command
.rawcommand {
  color: hsl(223.9, 25.5%, 56.9%);
}
.captain {
  color: hsl(39.2, 63.0%, 58.6%);
}
.actingcaptain {
  color: hsl(39.1, 53.2%, 59.8%);
}
// Service
.rawservice {
  color: hsl(108.8, 50.9%, 56.9%);
}
.assistant {
  color: hsl(0.0, 0.0%, 63.1%);
}
.headofpersonnel {
  color: hsl(231.0, 92.2%, 64.7%);
}
.bartender {
  color: hsl(122.6, 19.8%, 53.5%);
}
.botanist {
  color: hsl(109.3, 34.0%, 57.8%);
}
.cook {
  color: hsl(136.2, 55.5%, 56.9%);
}
.chaplain {
  color: hsl(122.9, 21.9%, 62.4%);
}
.curator {
  color: hsl(135.7, 37.6%, 66.1%);
}
.janitor {
  color: hsl(169.7, 57.5%, 41.6%);
}
.lawyer {
  color: hsl(0.0, 34.7%, 62.2%);
}
.clown {
  color: hsl(319.4, 100.0%, 75.7%);
}
.mime {
  color: hsl(120.0, 18.4%, 52.0%);
}
.stagemagician {
  color: hsl(310.3, 38.9%, 53.1%);
}
.barber {
  color: hsl(26.7, 15.9%, 44.3%);
}
// Cargo
.rawcargo {
  color: hsl(30.5, 44.7%, 72.4%);
}
.quartermaster {
  color: hsl(37.9, 51.1%, 55.1%);
}
.cargotechnician {
  color: hsl(30.3, 52.4%, 63.7%);
}
.shaftminer {
  color: hsl(17.2, 44.9%, 65.1%);
}
// Engineering
.rawengineering {
  color: hsl(40.9, 70.0%, 51.6%);
}
.chiefengineer {
  color: hsl(47.1, 49.2%, 62.9%);
}
.stationengineer {
  color: hsl(40.9, 51.4%, 49.2%);
}
.atmospherictechnician {
  color: hsl(24.1, 50.3%, 66.1%);
}
// Medical
.rawmedical {
  color: hsl(194.1, 65.0%, 56.3%);
}
.chiefmedicalofficer {
  color: hsl(206.9, 91.2%, 68.8%);
}
.medicaldoctor {
  color: hsl(193.5, 43.4%, 59.8%);
}
.paramedic {
  color: hsl(167.2, 26.6%, 65.3%);
}
.chemist {
  color: hsl(193.4, 43.7%, 65.9%);
}
.virologist {
  color: hsl(168.2, 48.0%, 56.3%);
}
.geneticist {
  color: hsl(184.0, 31.9%, 63.1%);
}
.psychiatrist {
  color: hsl(194.1, 33.9%, 49.2%);
}
// R&D
.rawscience {
  color: hsl(300.0, 49.2%, 62.2%);
}
.researchdirector {
  color: hsl(288.1, 36.8%, 48.4%);
}
.scientist {
  color: hsl(300.0, 43.1%, 61.4%);
}
.roboticist {
  color: hsl(288.5, 34.6%, 58.6%);
}
.explorationcrew {
  color: hsl(156.9, 51.6%, 68.4%);
}
// Security
.rawsecurity {
  color: hsl(0.0, 48.9%, 57.1%);
}
.headofsecurity {
  color: hsl(350.9, 81.8%, 41.0%);
}
.warden {
  color: hsl(356.0, 70.7%, 54.5%);
}
.securityofficer {
  color: hsl(0.0, 54.3%, 49.8%);
}
.detective {
  color: hsl(0.0, 37.0%, 53.3%);
}
.brigphysician {
  color: hsl(332.4, 32.2%, 54.9%);
}
.deputy {
  color: hsl(0.0, 43.3%, 64.7%);
}
// CentCom
.rawcentcom {
  color: hsl(105.3, 55.3%, 46.5%);
}
.centcom {
  color: hsl(105.0, 63.2%, 37.3%);
}
// MISC - job
.vip {
  color: hsl(48.8, 56.2%, 60.6%);
}
.king {
  color: hsl(48.9, 70.0%, 52.9%);
}
.prisoner {
  color: hsl(23.4, 29.9%, 42.0%);
}
.syndicate {
  color: hsl(0.0, 25.7%, 34.3%);
}
.notcentcom {
  color: hsl(241.3, 44.8%, 60.2%);
}
.unassigned {
  color: hsl(0.0, 0.0%, 34.5%);
}
.unknown {
  color: hsl(0.0, 0.0%, 19.2%);
}
// MISC - mob
.blob {
  color: hsl(38.2, 55.8%, 57.5%);
}
.corgi {
  color: hsl(49.2, 72.5%, 72.9%);
}
.fox {
  color: hsl(28.6, 100.0%, 69.6%);
}
.rainbow {
  animation: rainbowtext 1500ms infinite;
}
.hierosay {
  animation: heriotext 1500ms infinite;
}
.brassmobsay {
  color: hsl(42.6, 100.0%, 37.3%);
}
.syndmob {
  color: hsl(358.7, 26.7%, 33.7%);
}
.alienmobsay {
  color: hsl(300.0, 24.4%, 26.5%);
}
.cultmobsay {
  color: hsl(2.0, 43.8%, 41.2%);
}
.slimemobsay {
  color: hsl(180.9, 100.0%, 41.0%);
}
.carpspeak {
  color: hsl(206.9, 65.2%, 50.4%);
}

@keyframes rainbowtext {
  0% {
    color: hsl(0.0, 100.0%, 50.0%);
  }
  20% {
    color: hsl(56.0, 100.0%, 50.0%);
  }
  40% {
    color: hsl(124.9, 100.0%, 50.0%);
  }
  60% {
    color: hsl(192.0, 100.0%, 50.0%);
  }
  80% {
    color: hsl(252.9, 100.0%, 50.0%);
  }
  100% {
    color: hsl(303.1, 100.0%, 50.0%);
  }
}

@keyframes heriotext {
  0% {
    color: hsl(279.9, 83.6%, 59.4%);
  }
  50% {
    color: hsl(280.3, 82.7%, 68.2%);
  }
  100% {
    color: hsl(279.9, 83.6%, 59.4%);
  }
}

.stat_antagonist {
  color: hsl(0.0, 100.0%, 32.0%);
}
.stat_antagonist_underline {
  color: hsl(0.0, 100.0%, 32.0%);
  text-decoration: underline;
}

.stat_infomation {
  color: hsl(35.9, 59.7%, 46.7%);
}

.stat_br {
  color: hsl(135.0, 66.1%, 48.6%);
}

.mood_neutral {
  color: hsl(213.3, 8.0%, 22.2%);
}

$alert-stripe-colors: (
  'default': hsl(230.5, 100.0%, 85.1%),
  'green': hsl(120.0, 100.0%, 83.9%),
  'blue': hsl(230.5, 100.0%, 85.1%),
  'pink': hsl(325.3, 100.0%, 85.1%),
  'yellow': hsl(50.5, 100.0%, 85.1%),
  'orange': hsl(37.1, 100.0%, 85.1%),
  'red': hsl(0.0, 100.0%, 85.1%),
  'purple': hsl(295.1, 100.0%, 88.0%),
  'grey': hsl(0.0, 0.0%, 89.0%),
  'cyan': hsl(170.5, 100.0%, 85.1%),
  'darkred': hsl(0.0, 100.0%, 67.1%),
  'black': hsl(0.0, 0.0%, 27.8%),
);

$alert-stripe-alternate-colors: (
  'default': hsl(230.0, 100.0%, 87.1%),
  'green': hsl(120.0, 100.0%, 87.1%),
  'blue': hsl(230.0, 100.0%, 87.1%),
  'pink': hsl(325.6, 100.0%, 88.0%),
  'yellow': hsl(50.2, 100.0%, 88.0%),
  'orange': hsl(37.4, 100.0%, 88.0%),
  'red': hsl(0.0, 100.0%, 88.0%),
  'purple': hsl(294.8, 100.0%, 91.0%),
  'grey': hsl(0.0, 0.0%, 92.2%),
  'cyan': hsl(170.9, 100.0%, 64.9%),
  'darkred': hsl(0.0, 100.0%, 60.4%),
  'black': hsl(0.0, 1.1%, 17.8%),
);

$alert-major-header-colors: (
  'default': hsl(210.3, 100.0%, 19.0%),
  'green': hsl(150.0, 100.0%, 16.1%),
  'blue': hsl(210.3, 100.0%, 19.0%),
  'pink': hsl(336.1, 100.0%, 25.1%),
  'yellow': hsl(37.4, 100.0%, 22.9%),
  'orange': hsl(20.7, 88.4%, 27.1%),
  'red': hsl(340.8, 100.0%, 25.1%),
  'purple': hsl(266.5, 83.0%, 30.0%),
  'grey': hsl(336.1, 100.0%, 25.1%),
  'cyan': hsl(0.0, 0.0%, 0.0%),
  'darkred': hsl(0.0, 62.5%, 28.2%),
  'black': hsl(0.0, 100.0%, 46.3%),
);

$alert-subheader-header-colors: (
  'default': hsl(342.1, 100.0%, 21.0%),
  'green': hsl(342.1, 100.0%, 21.0%),
  'blue': hsl(342.1, 100.0%, 21.0%),
  'pink': hsl(220.2, 100.0%, 26.1%),
  'yellow': hsl(220.2, 100.0%, 26.1%),
  'orange': hsl(220.2, 100.0%, 26.1%),
  'red': hsl(220.2, 100.0%, 26.1%),
  'purple': hsl(220.2, 100.0%, 26.1%),
  'grey': hsl(220.2, 100.0%, 26.1%),
  'cyan': hsl(171.3, 100.0%, 83.7%),
  'darkred': hsl(0.0, 100.0%, 74.7%),
  'black': hsl(0.0, 100.0%, 46.3%),
);

$border-width: 4;

$border-width-px: $border-width * 1px;

.major_announcement_title {
  font-size: 175%;
  padding: 0rem 0.5rem;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.subheader_announcement_text {
  font-weight: bold;
  padding: 0 0.5rem;
  padding-top: 0.25rem;
  line-height: 100%;
  width: 100%;
  text-align: left;
  font-size: 125%;
}

.major_announcement_text {
  color: hsl(0.0, 0.0%, 7.5%);
  background-color: hsl(0.0, 0.0%, 91.8%);
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 100%;
}

.minor_announcement_title {
  font-weight: bold;
  padding: 0 0.5rem;
  padding-top: 0;
  line-height: 100%;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 150%;
}

.minor_announcement_text {
  background-color: hsl(0.0, 0.0%, 91.8%);
  color: hsl(0.0, 0.0%, 12.5%);
  padding: 0.5rem 0.5rem;
  text-align: left;
  font-size: 100%;
}

.announcement_header {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.ooc_alert {
  background: hsl(230.0, 100.0%, 87.1%);
  border: 1px solid hsl(225.0, 100.0%, 36.1%);
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.2em;
  color: hsl(198.6, 100.0%, 11.4%);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.ooc_announcement_text {
  color: hsl(225.0, 100.0%, 36.1%);
  padding: 0.5em 0 0 0.35em;
  display: flex;
  flex-direction: column;
}

@each $color-name, $color-value in $alert-stripe-colors {
  .chat_alert_#{$color-name} {
    color: hsl(0.0, 0.0%, 100.0%);
    padding: 0.5rem 0.5rem;
    box-shadow: none;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-image: repeating-linear-gradient(
      -45deg,
      map.get($alert-stripe-alternate-colors, $color-name),
      map.get($alert-stripe-alternate-colors, $color-name) 10px,
      $color-value 10px,
      $color-value 20px
    );
    border-image-slice: $border-width fill;
    border-width: $border-width-px;
    border-image-width: $border-width-px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: repeat repeat;
    border-style: solid;
  }

  .chat_alert_#{$color-name} .major_announcement_title {
    color: map.get($alert-major-header-colors, $color-name);
  }

  .chat_alert_#{$color-name} .minor_announcement_title {
    color: map.get($alert-major-header-colors, $color-name);
  }

  .chat_alert_#{$color-name} .subheader_announcement_text {
    color: map.get($alert-subheader-header-colors, $color-name);
  }

  .chat_alert_#{$color-name} .minor_announcement_text {
    background-color: lighten(map.get($alert-stripe-alternate-colors, $color-name), 5);
  }

  .chat_alert_#{$color-name} .major_announcement_text {
    background-color: lighten(map.get($alert-stripe-alternate-colors, $color-name), 5);
  }
}

.tooltip {
  font-style: italic;
  border-bottom: 1px dashed #000;
}
