@use 'sass:color';
@use 'sass:map';

$background: black;
$button: hsl(0.0, 0.0%, 8.6%);
$lightMode: hsl(0.0, 0.0%, 100.0%);
$lightBorder: hsl(0.0, 0.0%, 38.0%);
$lightButton: hsl(0.0, 0.0%, 73.3%);
$lightHover: hsl(0.0, 0.0%, 91.8%);

////////////////////////////////////////////////
// Normal chat colors
$say: hsl(177.1, 100.0%, 87.8%);
$radio: hsl(132.8, 74.4%, 45.9%);
$me: hsl(215.9, 67.5%, 67.5%);
$ooc: hsl(17.0, 100.0%, 45.1%);
$looc: hsl(60.0, 95.0%, 60.6%);
$asay: hsl(0.0, 100.0%, 50.0%);
$msay: hsl(300.0, 100.0%, 50.0%);
$dsay: hsl(272.0, 100.0%, 50.0%);

////////////////////////////////////////////////
// Subchannel chat colors
$ai: hsl(332.2, 59.6%, 60.2%);
$binary: hsl(130.1, 100.0%, 55.9%);
$centcom: hsl(197.0, 62.6%, 39.8%);
$command: hsl(243.6, 100.0%, 71.0%);
$engi: hsl(17.0, 87.8%, 61.4%);
$exploration: hsl(157.2, 58.5%, 59.4%);
$hive: hsl(300.0, 17.7%, 44.3%);
$medical: hsl(202.0, 83.6%, 64.1%);
$science: hsl(271.6, 91.7%, 76.5%);
$security: hsl(0.0, 71.2%, 53.7%);
$syndicate: hsl(359.1, 31.8%, 42.5%);
$service: hsl(88.1, 60.6%, 40.8%);
$supply: hsl(33.7, 44.9%, 49.8%);
$uplink: hsl(0.0, 85.8%, 27.6%);
$holo: hsl(339.8, 77.6%, 47.3%);
$intercom: hsl(93.2, 96.9%, 37.6%);
$left: hsl(277.8, 90.2%, 24.1%);
$right: hsl(277.8, 90.2%, 24.1%);
$slime: hsl(188.1, 100.0%, 31.8%);
$holoparasite: hsl(351.0, 33.6%, 57.5%);

$_restricted_channel_map: (
  'asay': $asay,
  'msay': $msay,
  'dsay': $dsay,
);

$_channel_map: (
  'say': $say,
  'radio': $radio,
  'me': $me,
  'ooc': $ooc,
  'looc': $looc,
  'asay': $asay,
  'msay': $msay,
  'dsay': $dsay,
  'ai': $ai,
  'binary': $binary,
  'centcom': $centcom,
  'command': $command,
  'engi': $engi,
  'exploration': $exploration,
  'hive': $hive,
  'medical': $medical,
  'science': $science,
  'security': $security,
  'syndicate': $syndicate,
  'service': $service,
  'supply': $supply,
  'uplink': $uplink,
  'left': $left,
  'right': $right,
  'holo': $holo,
  'intercom': $intercom,
  'slime': $slime,
  'holoparasite': $holoparasite,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}

$restricted_channel_keys: map.keys($_restricted_channel_map) !default;

$restricted-channel-map: ();

@each $channel in $restricted_channel_keys {
  $restricted-channel-map: map-merge(
    $restricted-channel-map,
    (
      $channel: map.get($_restricted_channel_map, $channel),
    )
  );
}
