@use 'sass:color';
@use './colors.scss';

.modal {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 231px;
  width: 100%;
}

.modal-lightMode {
  @extend .modal;
  background-color: colors.$lightMode;
  .top-border {
    background-color: colors.$lightBorder;
    top: 0px;
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
  .left-border {
    background-color: colors.$lightBorder;
    top: 0px;
    bottom: 0px;
    width: 2px;
    left: 0px;
    position: absolute;
    z-index: 1000;
  }
  .right-border {
    background-color: colors.$lightBorder;
    top: 0px;
    bottom: 0px;
    width: 2px;
    right: 0px;
    position: absolute;
    z-index: 1000;
  }
  .bottom-border {
    background-color: colors.$lightBorder;
    bottom: 0px;
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

.modal__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
}

/** Window sizes */
.modal-30 {
  height: 30px;
}

.modal-50 {
  height: 50px;
}

.modal-70 {
  height: 70px;
}

/** Creates an animated border for each channel */
@each $channel, $color in colors.$channel-map {
  .modal-#{$channel} {
    .top-border {
      background: linear-gradient(
        to right,
        $color,
        darken($color, 10%),
        $color
      );
      background-attachment: fixed;
      top: 0px;
      height: 2px;
      left: 0px;
      position: absolute;
      right: 0px;
      z-index: 999;
    }
    .left-border {
      background-color: $color;
      top: 0px;
      bottom: 0px;
      width: 2px;
      left: 0px;
      position: absolute;
      z-index: 1000;
    }
    .right-border {
      background-color: $color;
      top: 0px;
      bottom: 0px;
      width: 2px;
      right: 0px;
      position: absolute;
      z-index: 1000;
    }
    .bottom-border {
      background: linear-gradient(
        to right,
        $color,
        darken($color, 10%),
        $color
      );
      background-attachment: fixed;
      bottom: 0px;
      height: 2px;
      left: 0px;
      position: absolute;
      right: 0px;
      z-index: 999;
    }
  }
}
