<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Monkestation Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Monkestation</b></font></div>
			<p><div align='center'><font size='4'><a href="https://www.twitch.tv/thedukeofook">Come watch TheDukeofOOK, the server owner!</a></p>
			<p><div align='center'><font size='3'><a href="https://monkestation.com/">Site</a> | <a href="https://discord.com/invite/monkestation">Forum</a> | <a href="https://wiki.beestation13.com/">Wiki</a> | <a href="https://github.com/Monkestation/MonkeStation">Source</a></font></div></p>
			<font size='2'><b>Join our Discord </b><a href=https://discord.com/invite/monkestation>Here!</a></font>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Project Maintainers:</b> <a href='https://github.com/orgs/Monkestation/people'>-Click Here-</a><br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> <a href='https://github.com/Monkestation/MonkeStation/pulse'>-Click Here-</a><br></font>
			<font size='2'><b>Coders:</b> Lmenvs, KoboldCommando, Lythine, Merlin1230, Pitaden, Zanden, Zonespace27<br></font> 
			<font size='2'><b>Spriters:</b> Lmenvs, Pitaden, Retrino, Psycho<br></font>
			<font size='2'><b>Mappers:</b> Sord<br></font>
			<font size='2'><b>Sounds:</b> Sord, MechaDH<br></td></font>
			<font size='2'><b>Thanks to:</b> Beestation, /tg/Station 13, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs, the original SpaceStation developers and Invisty for the title image.<br> Also a thanks to anybody who has contributed who is not listed here :( Ask to be added here on the forums/Discord.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/Monkestation/MonkeStation/issues">Issue Tracker</a>.<br></font>
			<font size='2'>Please ensure that the bug has not already been reported and use the template provided!</b></a></u>.</font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">
