@font-face {
  font-family: "tgfont";
  src: url('tgfont.woff2?t=1783410699841') format('woff2');
}

[class^="tg-"], [class*=" tg-"] {
  font-family: 'tgfont' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




:root {
--tg-air-tank-slash: "\ea01";
--tg-air-tank: "\ea02";
--tg-bad-touch: "\ea03";
--tg-discord: "\ea04";
--tg-image-minus: "\ea05";
--tg-image-plus: "\ea06";
--tg-nanotrasen-logo: "\ea07";
--tg-non-binary: "\ea08";
--tg-prosthetic-full: "\ea09";
--tg-prosthetic-leg: "\ea0a";
--tg-sound-minus: "\ea0b";
--tg-sound-plus: "\ea0c";
--tg-syndicate-logo: "\ea0d";
}
.tg-air-tank-slash::before { content: var(--tg-air-tank-slash); }
.tg-air-tank::before { content: var(--tg-air-tank); }
.tg-bad-touch::before { content: var(--tg-bad-touch); }
.tg-discord::before { content: var(--tg-discord); }
.tg-image-minus::before { content: var(--tg-image-minus); }
.tg-image-plus::before { content: var(--tg-image-plus); }
.tg-nanotrasen-logo::before { content: var(--tg-nanotrasen-logo); }
.tg-non-binary::before { content: var(--tg-non-binary); }
.tg-prosthetic-full::before { content: var(--tg-prosthetic-full); }
.tg-prosthetic-leg::before { content: var(--tg-prosthetic-leg); }
.tg-sound-minus::before { content: var(--tg-sound-minus); }
.tg-sound-plus::before { content: var(--tg-sound-plus); }
.tg-syndicate-logo::before { content: var(--tg-syndicate-logo); }


