@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss';

.ChessBoard_Slot {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  border: 3px, outset, greenyellow;
}

.ChessBoard_Text {
  vertical-align: bottom;
  pointer-events: none;
  position: absolute;
  width: 200%;
  left: -50%;
  bottom: 110%;
  font-family: monospace;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
  color: white;
}

.ChessBoard_outline {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px, outset, black;
  opacity: 70%;
}

.ChessBoard_Slot:hover {
  opacity: 1;
}

.ChessBoard_Box {
  height: 100%;
  width: 100%;
}

.ChessBoard_Background {
  height: 100%;
  width: 100%;
  background: conic-gradient(hsl(205.7, 6.9%, 19.8%) 90deg, hsl(64.6, 100.0%, 97.5%) 90deg 180deg, hsl(205.7, 6.9%, 19.8%) 180deg 270deg, hsl(64.6, 100.0%, 97.5%) 270deg);
  background-repeat: repeat;
  background-size: 120px 120px;
  background-position: top left;
}

.ChessBoard_Icon {
  scale: (170%);
  position: relative;
  top: 10%;
}
