@use 'sass:color';
@use 'sass:map';
@use '../components/Button.scss';
@use '../colors.scss';

.PreferencesMenu {
  &__Main {
    .Preferences__standard-palette {
      .ColorSelectBox {
        height: 1.35em !important;
        width: 1.35em !important;
      }
      display: inline-block;
      .Button {
        height: 25px !important;
        width: 25px !important;
        line-height: 25px !important;
      }
    }
    font-size: 1.1rem;
  }

  &__Antags {
    &__antagSelection {
      $antagonist_bottom_padding: 10px;

      margin-bottom: -$antagonist_bottom_padding;

      @mixin animate-hover {
        .antagonist-icon-parent .antagonist-icon {
          &:hover {
            transform: scale(1.3);
            transition: transform 1s ease-out;
          }
        }
      }

      &__antagonist {
        padding-bottom: $antagonist_bottom_padding;
        padding-right: 20px;

        &__per_character {
          &--off {
            .antagonist-icon-parent-per-character {
              .antagonist-icon {
                border-color: color.adjust(colors.$red, $lightness: -10%);
                &:hover {
                  transition: border-color 0.1s ease-out;
                  border-color: color.adjust(colors.$red, $lightness: -5%);
                }
              }
            }
          }
          &--on {
            .antagonist-icon-parent-per-character {
              .antagonist-icon {
                border-color: color.adjust(colors.$grey, $lightness: -10%);
                &:hover {
                  transition: border-color 0.1s ease-out;
                  border-color: color.adjust(colors.$grey, $lightness: -5%);
                }
              }
            }
          }

          .antagonist-icon-parent-per-character {
            z-index: 1;
            opacity: 0.9;
            overflow: visible;
            position: relative;
            height: 0;
            width: 0;
            padding: 0;
            margin: 0;
            left: 74px;
            bottom: -64px;

            .antagonist-icon {
              border-style: solid;
              border-radius: 50%;
              border-width: 4px;
              background-color: #222;

              box-sizing: content-box;

              height: 32px;
              width: 32px;
              text-align: center;
              font-size: 20px;
              vertical-align: middle;
              line-height: 32px;
              -ms-user-select: none;
              user-select: none;
            }
          }
        }

        .antagonist-icon-parent {
          border-style: solid;
          border-radius: 50%;
          border-width: 4px;
          box-sizing: content-box;
          overflow: hidden;
          position: relative;

          height: 96px;
          width: 96px;

          .antagonist-icon {
            border-radius: 50%;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: pixelated;
            overflow: hidden;
            transition: transform 0.1s ease-in;
          }
        }

        &--off {
          @include animate-hover;

          .antagonist-icon-parent {
            border-color: colors.$red;

            .antagonist-icon {
              opacity: 0.5;

              &:hover {
                opacity: 1;
              }
            }
          }

          &--banned {
            .antagonist-icon-parent {
              border-color: colors.$grey;
              color: color.adjust(colors.$red, $lightness: 20%);
              .antagonist-icon {
                opacity: 0.5;
              }
            }
          }
        }

        &--on {
          @include animate-hover;

          .antagonist-icon-parent {
            border-color: colors.$green;
          }

          &--banned {
            .antagonist-icon-parent {
              border-color: colors.$grey;
              color: color.adjust(colors.$green, $lightness: 40%);
              .antagonist-icon {
                opacity: 0.5;
              }
            }
          }
        }

        &--grey {
          .antagonist-icon-parent {
            border-color: colors.$grey;
            color: inherit;
            .antagonist-icon {
              opacity: 0.5;
            }
          }
        }

        .antagonist-banned-slash {
          background: colors.$grey;

          width: 100%;
          height: 3px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) rotate(35deg);

          opacity: 0.8;
        }

        .antagonist-overlay-text {
          text-align: center;
          text-shadow: 1px 1px 3px 2px #222;
          font-size: 1.2rem;
          z-index: 1;

          .antagonist-overlay-text-hours {
            font-size: 1.5rem;
            font-weight: bold;
          }

          width: 100%;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }

  &__Jobs {
    > * {
      flex: 1;
    }

    &__departments {
      @each $department-name, $color-value in colors.$departments {
        &--#{$department-name} {
          &.head {
            background: $color-value;

            .job-name {
              font-weight: bold;
            }
          }

          background: colors.fg($color-value);
          border-bottom: 2px solid rgba(0, 0, 0, 0.3);
          border-left: 2px solid rgba(0, 0, 0, 0.3);
          border-right: 2px solid rgba(0, 0, 0, 0.3);
          color: black;

          > * {
            height: calc(100% + 0.2em);
            padding-bottom: 0.2em;
          }

          &:first-child {
            border-top: 2px solid rgba(0, 0, 0, 0.3);
          }

          .options {
            background: rgba(0, 0, 0, 0.2);
            height: 100%;
          }
        }

        &--Captain {
          &.head {
            .job-name {
              font-size: 1.5em;
            }
          }

          .job-name {
            font-weight: bold;
          }
        }
      }

      &__priority {
        color: black;
        border-left: 1px solid #222;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0 !important;
        text-shadow: 0 0 1px black;
        &--off {
          background-color: color.adjust(
            colors.$grey,
            $lightness: 10%
          ) !important;
          border-color: color.adjust(colors.$grey, $lightness: 20%);
          border-left: none;
        }
        &--low {
          background-color: colors.$red !important;
          color: black !important;
          text-shadow: none;
        }
        &--medium {
          background-color: colors.$yellow !important;
          color: black !important;
          text-shadow: none;
        }
        &--high {
          background-color: color.adjust(
            colors.$green,
            $lightness: 10%
          ) !important;
          color: black !important;
          text-shadow: none;
        }
        &--disabled {
          background-color: #444 !important;
          color: white !important;
          transition: ease-out 0.25s background-color;
          text-shadow: 0 0 1px black;
          &:hover {
            background-color: #666 !important;
          }
        }
      }
    }

    .job-name {
      font-size: 1.25em;
      padding: 3px;
    }
  }

  &__Quirks {
    &__QuirkList {
      background-color: colors.$light-grey;
      height: calc(90vh - 170px);
      min-height: 100%;
      overflow-y: scroll;

      &__quirk {
        background-color: colors.$white;
        border-bottom: 1px solid black;
        color: #111;
        transition: background-color 0.1s ease-in;

        $quality_map: (
          'positive': colors.$green,
          'neutral': colors.$white,
          'negative': colors.$red,
        );

        @each $quality, $color-value in $quality_map {
          &--#{$quality} {
            background-color: $color-value;
            transition: background-color 0.1s ease-in;
          }
        }

        &:hover {
          background-color: colors.$grey;
          transition: background-color 0.1s ease-out;

          @each $quality, $color-value in $quality_map {
            .PreferencesMenu__Quirks__QuirkList__quirk--#{$quality} {
              background-color: color.scale($color-value, $lightness: -25%);
              transition: background-color 0.1s ease-out;
            }
          }
        }
      }
    }
  }
}
