@use '../base.scss';
@use '../colors.scss';
@use '../atomic/color.scss';

@use '../components/Button.scss';

//Colors based on Button.scss
$button-gray: darken(Button.$color-default, 20%);
$button-gray-hover: Button.$color-default;
$button-main: Button.$color-default;
$button-main-hover: lighten(Button.$color-default, 15%);

.strip-menu-table {
	table-layout: fixed;
}

.strip-menu-table > tbody {
	> tr {
		//position: relative;
		//height: 100%;


		&:not(.spacer) > td:first-child {
			//border-top: 1px solid colors.$black
			border-image: linear-gradient(to right, colors.$grey, rgba(0,0,0,0) 70%) 30;
			//border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
			border-image-width: 1px 0 0 0;
		}

		&.spacer > td:first-child,
		&.spacer + tr > td:first-child {
			border-image: linear-gradient(to right, colors.$white, rgba(0,0,0,0) 80%) 30;
			border-image-width: 1px 0 0 0;
		}

		> td {
			vertical-align: middle;
			padding-top: 0.15em;
			padding-bottom: 0.15em;
			height: 100%;
		}

		> td:first-child {
			width: 10em;
		}

		&.hidden {
			> td:first-child {
				@extend .color-grey;
			}
		}

		&.indented > td:first-child::before {
			content: "↳";
			padding-left: 0.2em;
		}

		&:not(.spacer) {
			> td:nth-child(1) {
				//background-color: #303030;
			}
		}

		//&.empty > td > div > div:first-child > .Button {
    	//	outline: 0.167rem solid colors.$grey !important;
		//}

		&.obscured-hidden > td > div > div:first-child > .Button {
			background: repeating-linear-gradient(
				-45deg,
				$button-gray,
				$button-gray 5px,
				$button-main 5px,
				$button-main 10px
			);

			transition: background 50ms;

			&:hover {
				transition: background 0ms;
			}

			&:focus {
				transition: background 100ms;
			}

			&:hover,
			&:focus {
				background: repeating-linear-gradient(
					-45deg,
					$button-gray-hover,
					$button-gray-hover 5px,
					$button-main-hover 5px,
					$button-main-hover 10px
				);
			}
		}

		> td > div > div:not(:first-child) > .Button {
			margin-left: 0.5em;
		}

		&.spacer > td {
			height: 1em;
		}
	}
}
