@use '../colors.scss';
@use '../base.scss';

.Techweb__NodeProgress {
  margin-bottom: 1rem;
}

.Techweb__NodeProgress > *:not(:last-child) {
  margin-right: 0.4rem;
}

.Techweb__DesignIcon {
  margin-right: 3px !important;
  margin-bottom: 1px !important;
}

.Techweb__OverviewNodes {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
  padding-top: 4px;
  font-size: 11px;
}

.Techweb__HeaderContent {
  background-color: black;
  padding: 6px;
  border: 1px solid hsl(212.4, 36.6%, 39.6%);
}

.Techweb__HeaderContent > * > :not(:last-child) {
  margin-bottom: 5px;
}

.Techweb__HeaderSectionTabs {
  margin-top: 2px;
  background-color: black;
  border: 1px solid hsl(212.4, 36.6%, 39.6%);
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}

.Techweb__HeaderTabTitle {
  border-right: 1px solid hsl(212.4, 36.6%, 39.6%);
  padding-right: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
}

.Techweb__HeaderSectionTabs input {
  background-color: rgba(255, 255, 255, 0.05);
}

.Techweb__PointSummary {
  list-style: none;
  margin: 0.4em 0 0 1em;
  padding: 0;
}

.Techweb__SecProtocol {
  color: colors.$bad;
  margin-left: 0.2em;
}

.Techweb__SecProtocol.engaged {
  color: colors.$good;
}

.Techweb__DesignModal > :not(:last-child) {
  margin-bottom: 0.5em;
}

.Techweb__LockedModal > :not(:last-child) {
  margin-bottom: 0.5em;
}

.Techweb__NodeProgress {
  font-size: 10px;
}

.Techweb__NodeContainer {
  background-color: black;
  border: 1px solid hsl(212.4, 36.6%, 39.6%);
}

.Techweb__TierDisplay {
  position: absolute;
  right: base.em(3px);
  top: base.em(3px);
  padding: 0.3em;
  border-radius: 5px;
  background-color: adjust-color(colors.$grey, $alpha: -0.5);
}
