@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-default-fill: colors.bg(colors.$primary) !default;
$background-color: rgba(0, 0, 0, 0) !default;
$border-radius: base.$border-radius !default;
$bg-map: colors.$bg-map !default;

//Like candystripe, but in pairs
.TechFab__Reagent:nth-child(4n+1) {
  background-color: rgba(0, 0, 0, 0.25);
}

.TechFab__Reagent:nth-child(4n+2) {
  background-color: rgba(0, 0, 0, 0.25);
}

//Rounded corners for all things inside
.TechFab__ButtonsContainer {
  border-radius: base.$border-radius;
  overflow: hidden;
}

//Remove rounded corners, so all buttons in a group have corners together
.TechFab__NumberButton {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

//Add a minimal border between grouped buttons
:not(:last-child) > .TechFab__NumberButton {
  border-right: solid 1px black;
}