@use '../base.scss';
@use '../colors.scss';

.directives {
  height: calc(100% - 50px);
}

.objective_card {
  position: relative;
  width: 180px;
  height: 100px;
  background: linear-gradient(0deg, #bd404060 0%, #64282860 30%, #00000060 100%);
  margin: 0px 5px;
  padding: 4px 4px;
  border-radius: 4px;
  transition: background 2s ease;
  border: 1px solid #ffffff60;
  overflow: hidden;

  &.selected {
    border: 2px solid white;
    background: linear-gradient(0deg, #bd404060 0%, #00000060 100%);
  }
}

.reward_overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 14px 8px #00000069;
  background-color: #00000069;
}

.time_limit {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  font-size: x-large;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  color: #c6c6c6;
}

.directive_container {
  margin-top: 7px;
  position: relative;
  height: 100%;
}

.directive_radar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  /** Aspect ratio container **/
  padding-right: calc(50%);
}

.directive_info {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(50% + 10px);
}

.directive_section {
  position: relative;
  height: 100%;
}

.directive_prize {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000060;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 5px;
  border-top: 2px solid colors.$primary;
  border-bottom: 2px solid colors.$primary;
  border-radius: 4px;
}

.directive_prize_info {
  display: flex;
  flex-direction: row;
  min-width: 40%;
  vertical-align: middle;
  height: 40px;
  text-align: left;
  align-items: center;
  padding: 10px;
}

.bell_ring {
  transform-origin: top;
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(23deg);
  }
  20% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
