@use 'sass:color';
@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.uplink_page {
  height: calc(100% - 45px);
}

.Home {
  position: relative;
  height: 100%;
  width: 100%;
}

.HomeLeft {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  margin: 10px;
}

.HomeRight {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  margin: 10px;
}

.HomeTitle {
  width: 100%;
  font-size: x-large;
}

.HomeRanks {
  overflow-y: hidden;
  margin-top: 30px;
  height: calc(100% - 50px);
}

.RankCard {
  width: 100%;
  padding-bottom: 20px;
  color: #d4d4d4;
}

.RankCardMain {
  width: calc(100% - 200px);
  height: 90px;
  background: linear-gradient(0deg, #b457385a, #8D3E3E5a);
  padding: 10px;
  border-radius: 13px;
}

.RankCardTitle {
  position: relative;
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 6px;
}

.RankCardName {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: right;
  font-weight: bold;
}

.objective_card {
  position: relative;
  width: 180px;
  height: 100px;
  background: linear-gradient(0deg, #bd404060 0%, #64282860 30%, #00000060 100%);
  margin: 0px 5px;
  padding: 4px 4px;
  border-radius: 4px;
  transition: background 2s ease;
  border: 1px solid #ffffff60;
  overflow: hidden;

  &.selected {
    border: 2px solid white;
    background: linear-gradient(0deg, #bd404060 0%, #00000060 100%);
  }
}

.reward_overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 14px 8px #00000069;
  background-color: #00000069;
}

.time_limit {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  font-size: x-large;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  color: #c6c6c6;
}

.directive_container {
  margin-top: 7px;
  position: relative;
  height: 100%;
}

.directive_radar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  /** Aspect ratio container **/
  padding-right: calc(50%);
}

.directive_info {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(50% + 10px);
}

.directive_section {
  position: relative;
  height: 100%;
}

.directive_prize {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000060;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 5px;
  border-top: 2px solid colors.$primary;
  border-bottom: 2px solid colors.$primary;
  border-radius: 4px;
}

.directive_prize_info {
  display: flex;
  flex-direction: row;
  min-width: 40%;
  vertical-align: middle;
  height: 40px;
  text-align: left;
  align-items: center;
  padding: 10px;
}

.bell_ring {
  transform-origin: top;
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(23deg);
  }
  20% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

$background-color: #bb9b68 !default;

.reputation {
  background-color: $background-color !important;
  $luminance: luminance($background-color);
  $text-color: if($luminance > 0.35, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));

  margin-left: auto;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: $text-color;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent base.em(10px),
    rgba(0, 0, 0, 0.1) base.em(10px),
    rgba(0, 0, 0, 0.1) base.em(20px)
  );
}

@mixin box-color($color) {
  $luminance: luminance($color);
  $text-color: if($luminance > 0.35, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  color: $text-color;
  background-color: color.adjust($color, $saturation: -15%, $lightness: -15%);
}
