.dept-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4px;
  justify-content: center;
}

.dept-column {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin: 0 0 4px 0;
  padding: 4px;
}

.job {
  display: block;
}

.command {
  font-weight: bold;
}

.priority {
  color: #00ff00;
  font-weight: bold;
}

.nopositions {
  font-style: italic;
  color: #a3a3a3;
}
