.greentext {
	color: #90ee90;
	font-weight: bold;
}

.greentext_alt {
	color: green;
}
.redtext {
	color: #ef2f3c;
	font-weight: bold;
}

.infotext {
	color: #36f1e2;
	font-weight: bold;
}

.bluetext {
	color: #517fff;
	font-weight: bold;
}

.neutraltext {
	font-weight: bold; /* If you feel these should have some color feel free to change */
}

.marooned {
	color: rgb(109, 109, 255);
	font-weight: bold;
}

.header {
	font-size: 24px;
	font-weight: bold;
}

.big {
	font-size: 24px;
}

.medaltext {
	color: #add8e6;
}

.codephrase {
	color: #ef2f3c;
}

.redborder {
	border-bottom: 2px solid #ef2f3c;
}

.greenborder {
	border-bottom: 2px solid #90ee90;
}

.crewborder {
	border-bottom: 2px solid #08204e;
}

.clockborder {
	border-bottom: 2px solid #b18b25;
}

.stationborder {
	border-bottom: 2px solid #add8e6;
}

li {
	margin-bottom: 0.2rem;
}

.panel {
	background-color: #313131;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
}

body {
	background-color: #272727;
	color: #efefef;
}

.tooltip_container {
	position: relative;
	font-size: 24px;
}

.tooltip_hover {
	visibility: hidden;
	position: absolute;
	background-color: black;
	z-index: 1;
	width: 220px;
	font-size: 14px;
	border-width: 4px;
	border-style: solid;
	border-color: #272727;
	background: #363636;
	color: white;
	top: 100%;
	left: 30px;
}

.tooltip_container:hover .tooltip_hover {
	visibility: visible;
}

.holopara-info-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

.holopara-info-item:nth-child(1) {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-left: 0.5em;
	padding-right: 0.25em;
}

.holopara-info-item:nth-child(2) {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-left: 0.25em;
	padding-right: 0.5em;
}

.holopara-other-stats {
	font-size: x-small;
	line-height: normal;
	text-overflow: wrap;
	align-content: space-between;
	width: 520px;
}

.section {
	position: relative;
	margin-bottom: 0.5em;
	background-color: #191919;
	background-color: rgba(39, 39, 39, 0.33);
	box-sizing: border-box;
	border-radius: 1em;
}

.section:last-child {
	margin-bottom: 0;
}

.section-title {
	position: relative;
	padding: 0.5em;
	border-bottom: 0.1666666667em solid #4972a1;
}

.section-title .section-weapon {
	border-bottom: 0.1666666667em solid #c41e3a;
}

.section-title .section-ability {
	border-bottom: 0.1666666667em solid #33ffbd;
}

.section-title .section-lesser-ability {
	border-bottom: 0.1666666667em solid #bd33ff;
}

.section-title-text {
	font-size: 1.1666666667em;
	font-weight: bold;
	color: #fff;
	margin-left: 1;
	margin-right: 1;
}

.section-rest {
	position: relative;
}

.section-content {
	padding: 0.66em 0.5em;
}

.stack {
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.stack > .stack-item {
	margin-top: 0.5em;
}
.stack > .stack-item:first-child {
	margin-top: 0;
}
