@use 'sass:meta';
@use 'sass:color';
// Components
@use '~tgui-core/styles';

@use '~tgui/styles/base.scss' with (
  $color-fg: #dbd8ef,
  $color-bg: #11121c
);

@use '~tgui/styles/colors.scss' with (
  $red: #ac0c0c,
  $orange: #9c450b,
  $yellow: #dece78,
  $olive: #788a05,
  $green: #56ba13,
  $teal: #03807a,
  $blue: #0b4d80,
  $violet: #340e86,
  $purple: #5b0d76,
  $pink: #9a125f,
  $brown: #6b3511,
  $grey: #535353,
  $light-grey: #848484,
  $primary: #162c59,
  $good: #4a9c13,
  $average: #b16b11,
  $bad: #ac0c0c,
  $bg-lightness: -40%
);

.theme-blue {
  // Base overrides
  @include meta.load-css('~tgui/styles/atomic/color.scss');
  // Uses color-fg/color-bg
  @include meta.load-css('~tgui/styles/components/ColorSelectBox.scss');
  @include meta.load-css('~tgui/styles/components/Input.scss');
  @include meta.load-css('~tgui/styles/components/Modal.scss');
  @include meta.load-css(
    '~tgui/styles/components/Section.scss',
    $with: ('title-text-color': base.$color-bg)
  );
  @include meta.load-css('~tgui/styles/components/Slider.scss');
  @include meta.load-css('~tgui/styles/components/Tabs.scss');
  @include meta.load-css('~tgui/styles/interfaces/ModularFabricator.scss');
  @include meta.load-css('~tgui/styles/interfaces/RequestManager.scss');
  @include meta.load-css('~tgui/styles/layouts/Layout.scss');
  @include meta.load-css('~tgui/styles/layouts/PopupWindow.scss');
  @include meta.load-css('~tgui/styles/layouts/Window.scss');
  // Uses colors.scss
  @include meta.load-css('~tgui/styles/components/ProgressBar.scss');
  @include meta.load-css('~tgui/styles/components/NoticeBox.scss');
  @include meta.load-css('~tgui/styles/interfaces/AlertModal.scss');
  @include meta.load-css('~tgui/styles/interfaces/ChemDispenser.scss');
  @include meta.load-css('~tgui/styles/interfaces/ListInput.scss');
  @include meta.load-css('~tgui/styles/interfaces/TechFab.scss');
  @include meta.load-css('~tgui/styles/interfaces/Techweb.scss');
  // Button overrides
  @include meta.load-css(
    '~tgui/styles/components/Button.scss',
    $with: ('color-default': colors.fg(base.$color-bg))
  );
  // Section overrides
  .Section {
    border-bottom: 1px solid colors.$primary;
    display: flex;
    flex-direction: column;
  }
  .Section__title {
    padding: 0.2em;
    padding-left: 0.5em;
    margin-bottom: 0.4em;
    background-color: colors.$primary;
    box-shadow: 0px 0px 6px 0px colors.$primary;
    border-bottom: unset;
  }
  .Section__rest {
    flex-grow: 1;
    border: 1px solid colors.$primary;
    border-bottom: none;
  }
  .Section__content {
    box-shadow: 0px 0px 4px -2px colors.$primary;
    height: 100%;
  }
  .Section__buttons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  // Progress bar
  .ProgressBar {
    min-height: 1.5em;
  }
  @supports (margin-left: auto) {
    .ProgressBar__content {
      margin-left: auto;
      width: fit-content;
      background-color: color.adjust(base.$color-bg, $alpha: -0.3);
      box-shadow: 0px 0px 4px 4px color.adjust(base.$color-bg, $alpha: -0.3);
      height: 1.25em;
    }
  }
  // Title-bar overrides
  @include meta.load-css(
    '~tgui/styles/layouts/TitleBar.scss',
    $with: ('background-color': #181a21)
  );
  //Stat styles
  @include meta.load-css(
    '../components/Stat.scss',
    $with: ('border-color': color.adjust(colors.$primary, $lightness: 40%))
  );
}
