@use 'sass:color';
@use 'sass:meta';

$generic: hsl(28, 55%, 17%);
$accent: hsl(10, 61%, 25%);
$border-color: hsl(15, 67%, 10%);

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
  $primary: $accent
);
@use '../base.scss' with (
  $color-bg: color.scale($generic, $lightness: -45%),
  $border-radius: 2px
);

.theme-cardboard {
  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': $accent,
      'color-transparent-text': rgba(227, 240, 255, 0.75)
    )
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: (
      'color-default-fill': $accent,
      'background-color': rgba(0, 0, 0, 0.5)
    )
  );
  @include meta.load-css('../components/Section.scss');

  @include meta.load-css(
    '../components/Input.scss',
    $with: ('border-color': $border-color)
  );
  @include meta.load-css(
    '../components/TextArea.scss',
    $with: ('border-color': $border-color)
  );
  @include meta.load-css(
    '../components/NumberInput.scss',
    $with: ('border-color': $border-color)
  );

  // Other
  @include meta.load-css(
    '../interfaces/AlertModal.scss',
    $with: ('bar-color': $accent)
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': color.scale($generic, $lightness: -25%))
  );
  @include meta.load-css('../layouts/PopupWindow.scss');

  .Layout__content {
    background-image: none;
  }
}
