@use 'sass:color';
@use 'sass:meta';

$generic: hsl(254.1, 11.1%, 30.0%);
$accent: hsl(235.1, 35.2%, 47.8%);
$accent-2: hsl(44.9, 100.0%, 50.0%);

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
  $primary: $accent,
);
@use '../base.scss' with (
  $color-bg: color.scale($generic, $lightness: -45%),
  $border-radius: 2px,
);

.theme-generic-yellow {
  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: ('color-default': $accent, 'color-transparent-text': rgba(227, 240, 255, 0.75))
  );
  @include meta.load-css(
    '../components/ColorSelectBox.scss',
    $with: ('color-default': color.scale($generic, $lightness: -20%))
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: ('color-default-fill': $accent, 'background-color': rgba(0, 0, 0, 0.5))
  );
  @include meta.load-css('../components/Section.scss');

  @include meta.load-css('../components/Input.scss', $with: ('border-color': hsl(235.0, 100.0%, 74.1%)));

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: (
      'background-color': color.scale($generic, $lightness: -50%),
      'shadow-color': hsl(60.0, 100.0%, 50.0%)21,
      'shadow-color-core': $accent-2,
      'shadow-core-height': 3px
    )
  );
  @include meta.load-css('../layouts/PopupWindow.scss');

  .Layout__content {
    background-image: url('../../assets/bg-beestation.svg');
  }
}
