@use 'sass:color';
@use 'sass:meta';
@use '../functions.scss' as *;

$generic: hsl(254.1, 11.1%, 30%);
$accent: hsl(235.1, 35.2%, 47.8%);
$accent-2: hsl(44.9, 100%, 50%);
$title-bar-height: 48px;

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
  $primary: $accent
);
@use '../base.scss' with (
  $color-bg: hsl(0, 0%, 20%),
  $color-bg-section: hsl(0, 0%, 10.2%),
  $color-bg-grad-spread: 0%,
  $border-radius: 0px
);

.theme-login {
  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': black,
      'border-radius': 0.16em,
      'color-transparent-text': hsla(212, 100%, 95%, 0.75)
    )
  );
  .Button--color--default {
    box-sizing: content-box;
    border: 1px solid hsla(30, 7%, 6%, 0.867);
  }
  .Button--color--default:focus {
    border: 1px solid hsl(0, 0%, 25.1%);
    transition:
      color 100ms,
      background-color 100ms,
      border 100ms;
  }
  @include meta.load-css(
    '../components/ColorSelectBox.scss',
    $with: ('color-default': color.scale($generic, $lightness: -20%))
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: ('color-default-fill': $accent-2, 'background-color': black)
  );
  @include meta.load-css(
    '../components/Section.scss',
    $with: ('title-background-color': black, 'title-text-color': $accent-2)
  );
  .Section__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 4px hsla(30, 7%, 6%, 0.667);
  }
  .Section {
    box-shadow: 0 0 4px 4px hsla(30, 7%, 6%, 0.867);
  }

  @include meta.load-css(
    '../components/Input.scss',
    $with: (
      'border-color': hsla(30, 7%, 6%, 0.867),
      'background-color': black,
      'input-height': 30px,
      'font-size': 12px
    )
  );
  .Input {
    transition: border-color 0.05s linear;
  }
  .Input:focus-within {
    border-color: hsl(0, 0%, 25.1%);
  }

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css(
    '../layouts/Window.scss',
    $with: ('title-bar-height': $title-bar-height)
  );
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: (
      'background-color': black,
      'text-color': white,
      'shadow-color': hsla(60, 100%, 50%, 0.129),
      'shadow-color-core': $accent-2,
      'shadow-core-height': 3px,
      'title-bar-height': $title-bar-height
    )
  );
  .TitleBar__title {
    font-size: 24px;
    font-weight: bold;
  }

  @include meta.load-css('../layouts/PopupWindow.scss');

  .Layout__content {
    background-image: none;
  }

  .Button--color--blurple {
    transition:
      color 50ms,
      background-color 50ms;
    background-color: hsl(234.9, 85.6%, 64.7%);
    color: hsl(0, 0%, 100%);
    &:hover {
      transition:
        color 0ms,
        background-color 0ms;
    }
    &:focus {
      transition:
        color 100ms,
        background-color 100ms;
    }
    &:hover {
      background-color: lighten(hsl(234.9, 85.6%, 64.7%), 30%);
      color: hsl(0, 0%, 100%);
    }
  }
}
