@use 'sass:color';
@use 'sass:meta';

$neutral: #0c0303;
$accent: #5f0000;

@use '../colors.scss' with (
  $primary: $neutral,
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-fg: white,
  $color-bg: color.scale($neutral, $lightness: -40%),
  $color-bg-grad-spread: 3%
);

.theme-narsie {
  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: ('color-default': $accent, 'color-transparent-text': rgba(227, 240, 255, 0.75))
  );
  @include meta.load-css('../components/ProgressBar.scss');
  @include meta.load-css('../components/Section.scss');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css('../layouts/TitleBar.scss', $with: ('background-color': color.scale($neutral, $lightness: -25%)));

  .Layout__content {
    background-image: none;
  }
}
