@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';

@use '../colors.scss' with (
  $primary: hsl(336.4, 93.8%, 12.7%),
  $good: hsl(252, 100%, 1%),
  $bad: hsl(341.8, 88.8%, 31.4%),
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: hsl(0, 94.6%, 7.3%),
  $color-bg-grad-spread: 12%
);

$updated-bg-map: colors.$bg-map !default;

$updated-bg-map: map.set($updated-bg-map, 'good', colors.$good);
$updated-bg-map: map.set($updated-bg-map, 'bad', colors.$bad);

.theme-spooky {
  // Atomic classes
  @include meta.load-css(
    '../atomic/color.scss',
    $with: ('bg-map': $updated-bg-map)
  );

  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': hsl(344.9, 95.3%, 25.3%),
      'color-disabled': hsl(0, 0%, 21.2%),
      'color-selected': hsl(0, 81.3%, 21%),
      'color-caution': hsl(239.2, 78.1%, 35.9%),
      'color-danger': hsl(278, 62%, 31%),
      'bg-map': $updated-bg-map
    )
  );
  @include meta.load-css('../components/Dimmer.scss');
  @include meta.load-css(
    '../components/Input.scss',
    $with: ('border-color': hsl(11.2, 12.7%, 24.7%))
  );
  @include meta.load-css('../components/Modal.scss');
  @include meta.load-css(
    '../components/NoticeBox.scss',
    $with: ('background-color': hsl(0, 88.6%, 24.1%))
  );
  @include meta.load-css('../components/NumberInput.scss');
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/Table.scss');
  @include meta.load-css(
    '../components/Tooltip.scss',
    $with: ('background-color': hsl(0, 0%, 0%))
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': hsl(0, 86.1%, 22.5%))
  );

  .Layout__content {
    background-image: url('../../assets/bg-spooky.svg');
  }
}
