
@use 'sass:color';
@use '~tgui/styles/base.scss';
@use '~tgui/styles/colors.scss';
@use '~tgui/styles/functions.scss';

$background-color: base.$color-bg-section !default;
$border-color: color.scale(colors.fg(colors.$primary), $lightness: 75%) !default;

.StatBorder {
  border-left: (1em / 6) solid $border-color;
  padding-left: 10px;
  padding-bottom: 6px;
}

.StatBorder_observer {
  border-left: (1em / 6) solid #b866ff;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(to right,
    rgba(#b866ff, 0.08) 0%,
    rgba(#b866ff, 0) 40%);
}

.StatBorder_antagonist {
  border-left: (1em / 6) solid #dd3535;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(to right,
    rgba(#dd3535, 0.08) 0%,
    rgba(#dd3535, 0) 40%);
}

.StatBorder_infomation {
  border-left: (1em / 6) solid #e6a648;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(to right,
    rgba(#e6a648, 0.08) 0%,
    rgba(#e6a648, 0) 40%);
}

.StatBorder_br {
  border-left: (1em / 6) solid #2ace53;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(to right,
    rgba(#2ace53, 0.08) 0%,
    rgba(#2ace53, 0) 40%);
}

.StatBackground {
  position: relative;
  background-color: functions.fake-alpha($background-color, base.$color-bg);
  background-color: $background-color;
  box-sizing: border-box;
  padding-top: 5px;
  min-height: 99%;
}

.StatTabBackground {
  border-bottom: (1em / 6) solid #666666;
}
