@use 'sass:color';
@use 'sass:math';
@use '~tgui/styles/base.scss';
@use '~tgui/styles/colors.scss';
@use '~tgui/styles/functions.scss';

$background-color: base.$color-bg-section !default;
$border-color: color.scale(
  colors.fg(colors.$primary),
  $lightness: 75%
) !default;

.StatBorder {
  border-left: math.div(1em, 6) solid $border-color;
  padding-left: 10px;
  padding-bottom: 6px;
}

.StatBorder_observer {
  border-left: math.div(1em, 6) solid hsl(272.2, 100%, 70%);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(
    to right,
    rgba(hsl(272.2, 100%, 70%), 0.08) 0%,
    rgba(hsl(272.2, 100%, 70%), 0) 40%
  );
}

.StatBorder_antagonist {
  border-left: math.div(1em, 6) solid hsl(0, 71.2%, 53.7%);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(
    to right,
    rgba(hsl(0, 71.2%, 53.7%), 0.08) 0%,
    rgba(hsl(0, 71.2%, 53.7%), 0) 40%
  );
}

.StatBorder_infomation {
  border-left: math.div(1em, 6) solid hsl(35.7, 76%, 59.2%);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(
    to right,
    rgba(hsl(35.7, 76%, 59.2%), 0.08) 0%,
    rgba(hsl(35.7, 76%, 59.2%), 0) 40%
  );
}

.StatBorder_br {
  border-left: math.div(1em, 6) solid hsl(135, 66.1%, 48.6%);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  background-image: linear-gradient(
    to right,
    rgba(hsl(135, 66.1%, 48.6%), 0.08) 0%,
    rgba(hsl(135, 66.1%, 48.6%), 0) 40%
  );
}

.StatBackground {
  position: relative;
  background-color: functions.fake-alpha($background-color, base.$color-bg);
  background-color: $background-color;
  box-sizing: border-box;
  padding-top: 5px;
  min-height: 99%;
}

.StatTabBackground {
  border-bottom: math.div(1em, 6) solid hsl(0, 0%, 40%);
}

.StatAtomElement {
  cursor: pointer;
}

.StatAtomTag {
  background-color: hsl(307.9, 100%, 79%);
  color: hsl(0, 0%, 16.9%);
  border-radius: 5px;
  text-align: center;

  &.Structure {
    background-color: hsl(246.8, 71.7%, 80.6%);
  }

  &.Turf {
    background-color: hsl(54.1, 71.7%, 80.6%);
  }

  &.Self {
    background-color: hsl(0, 0%, 98%);
  }

  &.Human {
    background-color: hsl(115.8, 71.7%, 80.6%);
  }

  &.Mob {
    background-color: hsl(154.6, 71.7%, 80.6%);
  }

  &.Machinery {
    background-color: hsl(16.9, 81.7%, 78.6%);
  }

  &.Item {
    background-color: hsl(339.1, 81.7%, 78.6%);
  }

  &.Other {
    background-color: hsl(0, 0%, 67.8%);
  }
}

.StatMiddle {
  vertical-align: middle;
}

.StatWordWrap {
  white-space: normal;
}
