name: Compile changelogs

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  CompileCL:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 25
      - name: Python setup
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: Install depends
        run: |
          python -m pip install --upgrade pip
          pip install -r tools/changelog/requirements.txt
      - name: Compile CL
        run: python tools/changelog/ss13_genchangelog.py html/changelog.html html/changelogs
      - name: Commit
        run: |
          git config --local user.email "98856565+monke-station-bot@users.noreply.github.com"
          git config --local user.name "monke-station-bot"
          git pull origin master
          git commit -m "Automatic changelog compile [ci skip]" -a || true
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          #github_token: ${{ secrets.CL_TOKEN }}
