name: Make changelogs

on:
  push:
    branches:
      - master

jobs:
  MakeCL:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 25
      - name: Python setup
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: Install depends
        run: |
          python -m pip install --upgrade pip
          pip install -r tools/changelog/requirements.txt
      - name: Make CL
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          #GITHUB_TOKEN: ${{ secrets.CL_TOKEN }}
          GIT_EMAIL: "98856565+monke-station-bot@users.noreply.github.com"
          GIT_NAME: "monke-station-bot"
        run: python tools/changelog/generate_cl.py
